<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= game ? game.title : "Game Not Found" %></title>
</head>
<body>
    <% if (game) { %>
        <h1><%= game.title %></h1>
        <p><strong>Studio:</strong> <%= game.studio %></p>
        <p><strong>Genre:</strong> <%= game.genre %></p>
        <p><strong>Year:</strong> <%= game.year %></p>

       <button><a href="/games/">Back to Games List</a></button><br></br><button><a href="/games/<%= game._id %>/edit">Edit Game</a></button>
        
    <% } else { %>
        <p>Game not found.</p>
    <% } %>
</body>
</html>
